body,html{
    margin: 0px;
    height: 97%;
    color: aliceblue;
}
#bg{
background-position: center;
background-size: cover;
background-repeat: no-repeat;

position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;

background-image: url("https://picsum.photos/1366/768");
z-index: -1;
}
.time{
    font-size: 60px;
    text-align: center;
    margin-bottom: -100px;
}
#QuatesText{
   text-align: center;
   margin-left: 40px;
   margin-right: 40px;
}
#temp{
    align-items: center;
}
.header{
   align-items: center;
    display: flex;
    justify-content: end;
    
}
#temp_img{
    height: 58px;
    width: 63px;
}
.center{
    background-color: rgba(0, 0, 0, 0.6);
}
